[2016-01-05 05:20] Steven-Harris opened #1 "rapuma system setup"
I tried running the following line to setup my rapuma project
[code]
and I received the following error
[code]

[2016-01-05 11:15] thresherdj commented on #1
Hi Steven,

It is unclear to me as to why this is not working. However, I would have
to say that using the master branch is going to be problematic. Because
of issues in the CLI I developed another branch that is being used for
production. I've been using that branch now for almost a year. I could
help you better if you were using that branch. However, I don't know
where you are coming from. Are y

[2016-01-05 18:28] Steven-Harris commented on #1
Hi Dennis,

Yes, I am working with the SIL student project. The essence of our project is to wrap rapuma in a web interface. The above error occurred when using the master branch and your personal one. We might not be setting up something right but we are having trouble understanding and debugging the issue...

I have been able to render a sample document that Campbell prince gave us. I place the

[2016-01-06 02:22] thresherdj commented on #1
Hi Steven,

Good to meet you!

First, let me say that there is a vast difference between the master and
my personal branch. There were some issues that needed to be addressed
which required rewriting the Rapuma CLI. That is what is in my personal
branch and it is what is being used for the little bit of production
that is being done with the system now. I would really prefer that the
new CLI be us

[2016-01-06 02:37] Steven-Harris commented on #1
That fixed the problem! Thank you so much for your time Dennis

[2016-01-06 02:37] #1 closed

[2016-01-16 04:51] Steven-Harris opened #2 "Basic functionality and rendering problems"
Hi,

I am having a lot of difficulty understanding what rapuma commands to use to setup a project and render some basic documents. I feel I don't understand how the commands are structured together and what commands are needed before others.

My goal is to render a mat.usfm file that I have. I believe once I set everything up I can run the following command
[code]
Although right now I get nothing

[2016-01-16 14:32] thresherdj commented on #2
Hi Steve,

Sorry for the problems you are having. I wish you could be using the
updated CLI which is more intuitive. However, in lieu of that, one thing
that might be causing this is the path you are using. Projects I work
with are normally in my home directory. From what I understand, your
projects are buried in the system some where. I think it is failing with
--source_path as it can't find Comp

[2016-01-17 20:48] Steven-Harris commented on #2
Hey dennis, thank you for your continual help! I am still having issues, so let me good everything from the top... I am going to go into a lot of unnecessary detail, but I am hoping that will help pinpoint the problem.

### A little bit of background
Users of our project will work on one book at a time and we want rapuma to render the book that we specify.  So, our I idea would be to only have one

[2016-01-18 00:51] thresherdj commented on #2
Hi Steve, thanks for the explanation but I think the message got cut off
or something. What I have quoted below is the last couple lines of what
I got in your message. What's up with that? Is Git truncating the
message or did you just send it prematurely?

Dennis

On 01/17/2016 02:48 PM, Steven Harris wrote:

...

[2016-01-18 00:59] Steven-Harris commented on #2
Oh! Yes I was in the process of writing you back and I accidentally submit it. However, I was able to get it working so I deleted the comment. Now I messing around with the functionality.

I had one question. If I change the value in the adjustment.config to be %1.2 = 3. Is the supposed to change the growth factor of chapter 1 verse 3 to 3?

[2016-01-18 01:19] thresherdj commented on #2
Hey Steven,

First, know that the "%" character in this context is for commenting a
line out. So if I have this:

[mat]
     [[mat]]
         1.2 = 3

What should happen is that verse 2 (actually the entire paragraph) of
chapter one will be stretched by 3 lines. Realistically, TeX, the
rendering engine will not let that happen, and if it did, it would look
really ugly. Normally we will not add mor

[2016-01-18 02:00] Steven-Harris commented on #2
Oh ok! that's why it wasn't working!
I tried setting 1.2 = 2 and also 1.2 = -1 and I think you're right that Tex will not let that happen....

My only question is, can I make one specific verse change growth factor? If so, how would I go about doing it?

[2016-01-18 02:02] Steven-Harris commented on #2
Sorry, I didn't mean to close the issue just yet

[2016-01-18 02:20] thresherdj commented on #2
No, these adjustments are made only at the paragraph level not individual verses in a paragraph. Specifying the verse is for targeting purposes only and the whole paragraph will stretch. If you specified more than one verse in a paragraph the rendering engine would only use the first one, I think, but I can't recall if I've ever tried that.

[2016-01-18 02:22] Steven-Harris commented on #2
So if I did 1.5 = 1 it should allow for the first paragraph to expand by a
factor of 1?
On Sun, Jan 17, 2016 at 8:20 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-18 02:44] thresherdj commented on #2
I wouldn't say "factor" I would say "line" as in make the paragraph take up one more line on the page, or column if it is a two column layout.

[2016-01-19 00:18] Steven-Harris commented on #2
In the project.config. Does the cidlist have to be a three letter acronym and a book of the bible? I having trouble doing a custom one. I have gotten mat and mrk to work successfully.

[2016-01-19 03:09] thresherdj commented on #2
Yes, it does. The reason why is that the macro package that drives the rendering engine is pretty much hard-coded to follow standard USFM Bible book references. so there's not much we can do about that. There are designators for front and back matter (see the USFM specification for the correct designators). However, it's hard to get the macros to do some of the special formatting we need for this

[2016-01-22 02:53] Steven-Harris commented on #2
Would you happen to know what this error is?
`MSG - Install macro package: [usfmTex], Reinitialized
[usfmTex.conf]
Traceback (most recent call last):
  File "/usr/local/bin/rapuma", line 765, in <module>
    userArguments(parser.parse_args())
  File "/usr/local/bin/rapuma", line 523, in userArguments
    Project(pid, gid).renderGroup(cid_list, pages, override, save)
  File "/usr/local/lib/python2.

[2016-01-22 11:07] thresherdj commented on #2
Yes, I have a good idea what is wrong here but it will take me a bit to explain it because this is a big part of Rapuma that I rewrote last year and I can hardly remember how it used to work. One important feature of Rapuma is that it does not use system fonts, each project must have a specific font installed into it. I use a kind of package model to do this. A font package contains font files and

[2016-01-23 00:35] Steven-Harris commented on #2
I didn't install any fonts to the project before rendering. However, after getting that error and simply run the render command again, Rapuma generates the font folder and populates it with the font data. Then it can render properly.

[2016-01-23 03:06] thresherdj commented on #2
Yes, and no. In that version the process was kind of automated and it defaulted to a useful font if you are rendering Latin script text. If you are rendering a non-Latin script language, it gets really confusing because a useless font gets installed into the system. In the current version the user must purposefully install the font package they want. Sounds like you got it going and it installed a

[2016-01-23 03:11] Steven-Harris commented on #2
What will we need to do to support multilingual support. Is it as simple as putting the right stuff in the projects font folder?

[2016-01-23 03:31] thresherdj commented on #2
You could put the stuff in there your self, but you also would need to inject the right data into the config file as well. The config data enables the renderer to use the right font in the right way. If you were to switch to the recent version all you would have to do is write a front-end GUI dialogue that drives the font install process which would do it all for you. Either way, you would need fo

[2016-01-23 03:34] Steven-Harris commented on #2
Can you explain more of what you mean? By recent do you mean your branch?
Our goal is to give users full functionality of Rapuma from the web
application.
On Fri, Jan 22, 2016 at 9:31 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-23 03:35] thresherdj commented on #2
Yes, that would be my branch, the one we currently use for production.

[2016-01-23 03:38] thresherdj commented on #2
Font information needs to be "fed" to TeX in a particular way. Rapuma processes everything based on the config files in a given project. In my branch I moved the font information from the macro config to a new font config file. This makes for a lot more flexibility.

[2016-01-23 03:39] Steven-Harris commented on #2
Any reason it's not merged in to main yet? If I switch to your branch what
files should be required from the users and want config settings need to
entered?
On Fri, Jan 22, 2016 at 9:35 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-23 03:41] thresherdj commented on #2
I wanted to merge my branch into the master after it was tested but that's not my call as the code really doesn't really belong to me, technically. This would be SIL's call, I'm just a volunteer at this point.

[2016-01-23 03:42] thresherdj commented on #2
I tried to communicate the need for a merge but I guess I wasn't successful. :-(

[2016-01-23 03:42] Steven-Harris commented on #2
Oh ok!
On Fri, Jan 22, 2016 at 9:41 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-23 03:47] thresherdj commented on #2
If you merge at this point the CLI will be much different than what it is now. If you are under a time constraint, you may not want to do that this time around. If you have the time, and the merge was approved, I'd be happy to help anyway I can. Plus, we could probably share test projects more easily and I could help you debug easier.

[2016-01-23 03:50] Steven-Harris commented on #2
Well I will switch to your branch as it appears it will be more robust to
use. And we can go from there

We haven't made a lot of integration with the CLI yet so I switch can still
be made. In addition, we are planning to use the CLI as little as possible
as it might be easier to deal with in the web app.
On Fri, Jan 22, 2016 at 9:42 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-23 04:03] thresherdj commented on #2
Ok. hopefully the learning curve will not be so bad and you will find the CLI more intuitive. Once you see how it works, you can probably reverse-engineer much of the CLI in the web app. I really feel that the current project config set up is more scalable than before and should support a lot of interaction with a GUI. Less is hard-coded in my branch compared to the master branch which should make

[2016-01-23 05:39] Steven-Harris commented on #2
Sweet! This looks a lot easier to use. Could you give me a list of some possible commands that should work? Although the help menu is way easier to understand, I am not sure what possible values I can enter for some of the arguments such as [Section, Key, and Value]. I just need a little help getting the ball rolling. Thanks!

[2016-01-23 06:01] Steven-Harris commented on #2
right off the bat I tried, `rapuma asset add -g NEW_TEST -c usfm -p ~/src/web-scriptureforge/Publishing/NEW_TEST/Component/mat/` but I must be missing something and I probably need to setup my publishing folder location first

[2016-01-23 14:05] thresherdj commented on #2
First, I would recommend that we close this thread and open a new one for the little tutorial that is to follow. After that, take a look in rapuma/resource/example/KYUM_ExampleAndTotorial.odt. I propose that we work through that example together in the user environment that Rapuma is used in right now. Once that has been done (which shouldn't take long) you can transfer that to the server environm

[2016-01-23 15:59] Steven-Harris commented on #2
Great! Sounds like a plan. Thank you, Dennis!

[2016-01-23 15:59] #2 closed

[2016-01-23 17:05] Steven-Harris opened #3 "Branch personal/Dennis walkthrough"
Finally, there is a detailed tutorial on how to use rapuma! It is very easy to understand and use. I did want to start out by showing you an error I got when starting the tutorial. It appears rapuma is having the error when I add a group of type usfm. When I ran the command ```rapuma content KYU-MYMR-KYUMTEST group add --group GOSPEL --comp_type usfm``` I got

  File "/usr/local/bin/rapuma", line

[2016-01-23 17:17] mhosken commented on #2
Dear Dennis,

In as much as I have sufficient authority. I hereby authorise you to merge any code you see fit as being good for master, into master.

Now having said that. Because your change is not backwardly compatibly, I suggest you branch master as it is now into a version branch or at least tag it with a version tag before you do the merge, so that people can get back to the current CLI shoul

[2016-01-23 17:42] Steven-Harris commented on #3
Another problem when I was going through the tutorial was when I run `rapuma content KYU-MYMR-KYUMTEST component add --group GOSPEL --cid_list "mat mrk luk jhn act" --path ~/Publishing/my_source/KYUM/PT-source` I got

I believe this issues are probably related since the GOSPEL group was not successfully added

[2016-01-23 18:03] thresherdj commented on #2
Thanks Martin, however, I am but a humble volunteer (who works with automotive issues all day long) and if I try this, I might do more harm than good. This may be a bit beyond my pay grade. :-) Would you mind merging or tagging a new branch for the cause? Also, Chris and Cambell might want to weigh in on this as well. Regardless, I feel uncomfortable trying this on my own. Thanks!

[2016-01-23 19:14] thresherdj commented on #3
I'll be on the road for a while so I'll try to work through this tonight and get you some answers. Thanks!

[2016-01-24 02:11] thresherdj commented on #3
So, on the first error: KeyError: 'defaultIllustrationLibraryName'
I need to ask you to take a look at the ~/config/rapuma/rapuma.conf file around line 16, it should have this:
defaultIllustrationLibraryName = Knowles-600_bw
If it isn't there that is causing the first error. Something in the Rapuma setup didn't work right.

On the second error, look in the project.conf file around line 56 there sh

[2016-01-24 21:50] Steven-Harris commented on #3
Yep, I do not have the defaultillustratoinlibraryname in the ~/.config I tried adding that line in manually but I did get around the error from the first time

[2016-01-25 04:58] Steven-Harris commented on #3
Hmm that's interesting.... Originally I had rapuma running in a VM for these test. However running rapuma on my local machine I had to problems or errors creating the groups.

[2016-01-25 10:52] thresherdj commented on #3
Not sure why that would be. We've run Rapuma in production on a VM and didn't seem to see any difference.

[2016-01-27 05:20] Steven-Harris commented on #3
Good news! This version of rapuma is awesome and I was able to make it through your example with no problems. I did have one question that came up when I installed rapuma for the first time and that is.... what does this command translate to in the new app.. `rapuma system setup projects -s "~/Publishing"`

[2016-01-27 13:15] thresherdj commented on #3
That's great, I'm glad you like it. I don't have time just now to explain what is different in the command you cited. You might be able to figure it out from the --help feature, but maybe not. It may not be too intuitive. It involves giving Rapuma the section and value you want to change along with the new value. It is more generalized than the earlier version.

[2016-01-27 13:18] Steven-Harris commented on #3
Ok, I could figure out what section the Rapuma settings fell under since
they were not part of a project of normal project commands
On Wed, Jan 27, 2016 at 7:16 AM Dennis Drescher notifications@github.com
wrote:

[2016-01-27 18:32] Steven-Harris commented on #3
Couldn't^

[2016-01-27 23:39] thresherdj commented on #3
The confusing part is that you need to have a project ID (valid) to make system-wide settings. That being the case, the command you would need would be this:

rapuma setting <proj ID> rapuma --section Resources --key Projects --value "~/Publishing"

However, I can see a problem here. If you are going to change some system settings before you actually do a project, you are stuck, unless you manuall

[2016-01-27 23:44] Steven-Harris commented on #3
We mainly just need to tell Rapuma where the Publishing folder and
resources are. So that both apps can work together smoothly and our web app
doesn't have to a make a call to around directory other than its own
On Wed, Jan 27, 2016 at 5:39 PM Dennis Drescher notifications@github.com
wrote:

[2016-01-28 02:45] thresherdj commented on #3
Ok, I'll get that fixed as soon as I can. It shouldn't be hard, just need a few minutes to do it.

[2016-01-29 22:20] thresherdj commented on #3
I got it fixed. You can now use the key word 'system' to make a change to a Rapuma system setting file. I pushed it to the personal/dennis branch and updated the version number. If you can confirm that you are going to be using this version for your project, I can merge it with the master. (At least I think I can merge it. I'm not real good at that kind of thing.) Then I can fix any bugs that pop

[2016-01-30 02:01] Steven-Harris commented on #3
Yep! we are going to use your version.

[2016-01-30 05:42] Steven-Harris commented on #3
Does this command work yet?
`rapuma setting rapuma --section Resources --key Projects --value "~/Publishing"`

[2016-01-30 14:30] thresherdj commented on #3
No, that will not work because you are missing the value in the project ID spot. I have fixed this so that for system-wide config changes you use the "SYSTEM" key word/value. So, the syntax would go like this:

rapuma setting SYSTEM rapuma --section Resources --key projects --value "~/Publishing"

BTW, the SYSTEM key word is upper case for emphasis, Any case should work, "system", "System", "SyStE

[2016-02-01 13:14] thresherdj commented on #3
might ^not be straightforward

[2016-02-07 22:26] Steven-Harris commented on #3
I having a pretty weird issue that is a little hard to explain because I am not entirely sure what is going on but I will do my best to explain. I am hoping you will have some insight as to what I could try next..

I am trying to get a php wrapper setup for rapuma using the built in "shell_exec" function. Of course when I run this command in the server environment it is running as the "www-data" u

[2016-02-08 01:47] megahirt commented on #3
Steve,

I had a problem like this on a different project.  Rapuma expects to run as a _real user_.  www-data is not a real user.  IMO you don't want a .config folder under /var/www .  This is just a symptom of the problem.  One way to get around this is to change the user that apache runs as.  This will take a bit of tweaking but I've done it on my machine for a different project.  I assume you ha

[2016-02-08 02:24] thresherdj commented on #3
Hi Steve,

I confess that I'm not too strong in understanding how rapuma interacts with the system when being run as a web-based app. What Chris told you sounds like an important set of steps. I also should mention that you will need a user config file here: /var/librapuma/config/rapuma.conf. I'm pretty sure that if you don't have a config file there it is going to choke and the error at line 119

[2016-02-14 22:53] Steven-Harris commented on #3
@megahirt, I have been working on this for a while and unfortunately I haven't got a working solution yet.
Here is what I have done so far...
1) add my user to www-data with `sudo usermod -G www-data superman`
2) changed the user of apache from www-data to superman with `sudo nano /etc/apache2/envvars` and changing the appropriate line.

3) it goes with out saying I restarted apache after doing th

[2016-02-15 01:50] thresherdj commented on #3
Hey Steven, most of this is above my pay-grade but your idea to create a file in /var/lib/rapuma/config/ may get a file there but for Rapuma to work it will need to be populated with the right data, but you probably knew that. I would think that the one from /var/www/.config/ would work just as well.

[2016-02-15 03:55] megahirt commented on #3
Steve,

I see two ways forward.  As of right now I believe Rapuma expects to be run as a real user with a writable home directory.  This means that there will always be problems running Rapuma as www-data until such time that Rapuma no longer expects to have a writable home directory.  I believe Dennis already removed some of this requirement by having a system-level config, presumably defined in

[2016-02-15 10:59] thresherdj commented on #3
With the introduction of the web interface and projects needing to be managed in the www environment, I added the possibility of having two places where the rapuma.conf file could be. If you need it to be looking in /var/lib/rapuma/config for that file, I could do that. One way forward would be to have that file "hardened" on install so that it would no longer need to be writeable. Then Rapuma cou

[2016-02-15 13:49] Steven-Harris commented on #3
Yes! I think you should
On Mon, Feb 15, 2016 at 4:59 AM Dennis Drescher notifications@github.com
wrote:

[2016-02-15 14:27] Steven-Harris commented on #3
@megahirt, update. I change the apache user to run as me now with no problems with scriptureforge. However, rapuma is still erroring out on line 119 of /usr/local/bin/rapuma.

[2016-02-16 02:18] Steven-Harris commented on #3
@megahirt and @thresherdj  Update! I was able to get rapuma to execute `rapuma -h` successfully after changing the apache runtime user to myself! I noticed that some of my users setting were changed around to much when I was experimenting with user and group premissions.

[2016-02-16 02:21] #3 closed

[2016-02-16 03:06] thresherdj commented on #3
Glad you got around/through this. I still will try to rework the way Rapuma sees its config file. Not sure how long that will take but I'll try.

[2016-02-16 05:02] Steven-Harris opened #4 "'defaultIllustrationLibraryName' error on group creation"
I wanted to post this issue that I have had a couple of times. When creating a group of comp_type = usfm rapuma will generate this error
[code]

Note ```defaultIllustrationLibraryName``` is missing from my /config/rapuma.config. However, adding ``` defaultIllustrationLibraryName = Knowles-600_bw ``` to the bottom the [System] array does not fix the problem.

The first time I had this problem I was

[2016-02-16 11:24] thresherdj commented on #4
@megahirt - I think this parameter is no longer needed and I would like to remove it from the code. However, before doing that, I would like to see my personal branch merged into the master first but I'm not very good at doing that kind of thing, especially since there have been so many changes making a lot of differences between the two. Chris, would you be willing to do the merge? Or if you pref

[2016-02-16 13:10] megahirt commented on #4
I'll try my best to do this on Thursday.  I'll let you know if I have
questions.

On Tue, Feb 16, 2016, 6:24 PM Dennis Drescher notifications@github.com
wrote:

[2016-02-18 11:29] thresherdj commented on #4
@megahirt - Thanks, I will not push anything until I see its been merged.

[2016-02-18 11:37] thresherdj commented on #4
I have removed all references of defaultIllustrationLibrary... from the code as this was a dead-end and was only causing an error because one of the refs were misspelled. Once master has been updated/merged I'll push this to personal/dennis so it can be tested. Then this issue can be closed.

[2016-02-18 13:35] megahirt commented on #4
I started the merge but didn't finish today.  Sorry.  Will resume tomorrow.

On Thu, Feb 18, 2016 at 6:37 PM, Dennis Drescher notifications@github.com
wrote:

[2016-02-21 00:17] Steven-Harris commented on #4
@thresherdj did the bug fix get pushed?

[2016-02-21 02:56] thresherdj commented on #4
@Steven-Harris no, not yet, waiting on the merge. Once master is the same as personal/dennis, I'll push the changes to personal/dennis so they can be tested, though I don't anticipate any problems as the code I fixed was kind of a dead-end.

I'm dealing with two problems, first is the defaultIllustrationLibrary issue, which will be pushed soon. Then there is the issue of how Rapuma references its

[2016-02-23 03:02] thresherdj commented on #4
Master is now updated and the defaultIllustrationLibrary issue has been dealt with. I need to test a bit then I can move on to the Rapuma config file issue.

[2016-02-23 03:41] Steven-Harris commented on #4
Great! Thank you so much for taking care of this for me!
On Mon, Feb 22, 2016 at 9:02 PM Dennis Drescher notifications@github.com
wrote:

[2016-02-27 22:29] Steven-Harris opened #5 "Sending render to Mongodb instead of X11"
I am looking in rapuma to try to re-route the output stream to save to our mongodb at the point where it would normally display the pdf to the screen using X11. I wanted to know if you had any suggestions about doing so.

[2016-02-27 23:37] thresherdj commented on #5
I'm sure I will not be of much help but I won't mind following along to get an idea of how this will work. Rapuma outputs a PDF so I don't know how that could be called a stream. It's more like a block of ice. :-)

 know Rapuma has the ability to output just small portions of the total amount rendered, as small as one page. I thought the output was to be picked up by the interface and then magical

[2016-02-27 23:39] Steven-Harris commented on #5
I really just want to grab the pdf as it comes out and save it to the db. Can you point me to the location were that would occur? I am having trouble finding it in the code.

[2016-02-28 00:51] thresherdj commented on #5
The output is like pizza. You can have it delivered to wherever you want. For example:
rapuma process KYU-MYMR-KYUMTEST component render --group GOSPEL --cid_list jhn --save --background --doc_info --override "/home/dennis/Publishing/test.pdf"

This puts the PDF output file in my Publishing folder. I think that is what you want. The --override command is probably not the most intuitive name but it

[2016-02-28 02:07] Steven-Harris commented on #5
Hmm, yeah I will have to look at it. Idk if will except mongodb stuff. Do you know where that code is located?

[2016-02-28 04:04] thresherdj commented on #5
Sorry for my ignorance but I don't know what mongodb is. It is not something I'm familiar with in my coding.

[2016-02-28 04:12] Steven-Harris commented on #5
Oh! No worries. It is a document oriented database and our project utilizes
it.
On Sat, Feb 27, 2016 at 10:04 PM Dennis Drescher notifications@github.com
wrote:

[2016-02-28 04:53] mhosken commented on #5
Dear Dennis,

I think what Steve is after is to replace the evince command call with his own script. I assume there's some kind of config for that.

GB,
Martin

[2016-02-28 13:42] cambell-prince commented on #5
Saving it as a file in an arbitrary location that is passed in should be fine.

[2016-02-28 13:54] Steven-Harris commented on #5
Where in the source code should I look?
On Sun, Feb 28, 2016 at 7:42 AM Cambell notifications@github.com wrote:

[2016-02-28 13:57] thresherdj commented on #5
Ah, okay, that makes sense. However, the --override command is still key to the equation. With that in place, the command to change the direction of the output from evince to another external application would be found, currently, in the rapuma.conf file. The line to change would be: pdfViewerCommand = evince, -w

Changing that to whatever is necessary will allow Rapuma to feed the PDF to the repl

[2016-02-29 04:40] megahirt commented on #5
Steve,

If you are referring to the scripture forge source code, I would ideally
like the rapuma project files, inputs and outputs (like PDF files) to be
stored in the project's asset folder.  If you look on the ProjectModel,
there is a getAssetsFolderPath() method.  Anything you create inside there,
including subfolders, belongs to the project.

Is that what you're asking?

Chris

On Sun, Feb 28,

[2016-02-29 04:44] Steven-Harris commented on #5
Yes that could work for now. I will try to use that. However, later we might have to figure out a repository like system so that users can see past renders and not just the current one. As rapuma current overrights the rendered pdf everytime

[2016-02-29 04:54] megahirt commented on #5
Steven,

You're on the right track.  Your code should manage each individual render
and make sure that past renders do not get overwritten.  So, each run of
rapuma should be passed a unique output file name that guarantees it will
not be used again.  Including the current timestamp (with second
resolution) in the file name should be adequate.  No formal repository
should be necessary.  All of the

[2016-02-29 04:56] Steven-Harris commented on #5
Ahhh, that's a great idea!

[2016-03-01 11:22] #4 closed

[2016-03-01 11:35] thresherdj opened #6 "Eliminating the rapuma.conf file"
There were issues with accessing the rapuma.conf file when running in a web environment. In response to that, I looked into the possibility of eliminating that file and changing the way Rapuma is installed. I now have a revision to this effect on personal/dennis. The installme file explains what needs to be done now when installing the system. Steve, would you please test this (do a fresh install)

[2016-03-18 23:31] #5 closed

[2016-03-19 00:12] Steven-Harris commented on #6
Hey Dennis, sorry I just saw this. Thank you for working on this for me. It looks like this will help out a lot.

However, I did run into a couple of errors when testing it using /resource/testing/kyum-example.sh they're not huge issues but I thought I would make sure you know about them.

1)

2)

3)

number 3 is obviously the main issue I don't think we will need the other ones to work for now.

[2016-03-19 00:21] Steven-Harris commented on #6
Also, I am trying to fiugre out the component shortcut as described in the tutorial documents(in both the new and the old versions). The one that allows for the user not to enter the cid_list parm. I am doing something like this...

[code]

Is that not correct?

[2016-03-19 14:10] thresherdj commented on #6
@Steven-Harris : There's a real problem here. Something changes when I access the config from inside /usr. The way I was normally testing showed now problems. When I tested from a different location, it failed. I don't know why, I'll need to look into it more. As I said before, having the program config in with the program itself doesn't seem like the right thing to do, but I'm not sure why, other

[2016-03-19 15:00] Steven-Harris commented on #6
I can get Rapuma to work just fine without this enhancement. So no need to
worry too much about this.
On Sat, Mar 19, 2016 at 9:10 AM Dennis Drescher notifications@github.com
wrote:

[2016-03-19 16:14] thresherdj commented on #6
Ok, I think I'll revert back to the way it was, but a little cleaner, hopefully. Then you can give it a try.

[2016-03-19 17:58] thresherdj commented on #6
Just to be sure, I'll point Rapuma to /var/lib/rapuma/config/rapuma.conf for a server-side deployment. From there, you will point it to wherever you want the Publication folder to be, okay?

[2016-03-19 18:31] Steven-Harris commented on #6
Yep. I am actually using the publishing folder at
/var/lib/Rapuma/publishing and then overriding the renders to another
location. It will probably stay like that usually I get told otherwise.
On Sat, Mar 19, 2016 at 12:58 PM Dennis Drescher notifications@github.com
wrote:

[2016-03-28 03:18] Steven-Harris commented on #6
@thresherdj, I think I found a bug. Rapama is requiring me to create a ".config" folder in my users' folder before I can use it.

[2016-03-28 23:39] thresherdj commented on #6
Sorry about that, I'll look into it. I'm not sure how to do this. You will need a config folder to put the rapuma.conf file in. I thought it was going to  /var/lib/rapuma/config, What is the path where it wants to put it?

[2016-03-28 23:48] Steven-Harris commented on #6
After making the directory myself, it put the config in
/var/www/.config/rapuma. I also had to make a folder at /var/www/.local/
for a python directory for some reason.
On Mon, Mar 28, 2016 at 6:39 PM Dennis Drescher notifications@github.com
wrote:

[2016-03-29 01:36] thresherdj commented on #6
I don't get that. How hard would it be for me to install the web version on a virtual machine. I've never done it before but until I can see the process happen, its going to be hard to fix it.

[2016-03-29 01:43] thresherdj commented on #6
Could I get a hold of a VM that I could set up from scratch along with all the setup scripts or whatever is used?

[2016-03-29 01:45] Steven-Harris commented on #6
If you're familiar with vagrant here is the one that we use
http://downloads.sil.org/vagrant/Vagrantfile

On Mon, Mar 28, 2016 at 8:44 PM Dennis Drescher notifications@github.com
wrote:

[2016-03-29 09:51] thresherdj commented on #6
That looks over my pay grade, but I'll give it a try. What VM app do you use? Would you have a clean copy of the VM you use that I could have. I have a Mint 17 VM but I don't know if that will work well for a server side application.

[2016-03-29 13:18] Steven-Harris commented on #6
Forgive me if I am telling you something that you already know. Here is a
place to get started with Vagrant:
https://www.vagrantup.com/docs/installation/

We use Virtualbox with vagrant.
On Tue, Mar 29, 2016 at 4:51 AM Dennis Drescher notifications@github.com
wrote:

[2016-04-03 18:49] thresherdj commented on #6
Ok, I think I got the right VM up and running. What's the user name and pass word I need to get into it?

[2016-04-03 18:55] Steven-Harris commented on #6
You just use '''vagrant up''' from terminal to launch it. It should auto
login
On Sun, Apr 3, 2016 at 1:49 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-03 19:17] thresherdj commented on #6
I guess I'm not sure what I did wrong, maybe I installed the wrong VM. The machine comes up in tty1 and at the prompt I get "vagrant-ubuntu-trusty-64 login:"
I thought I was using the script you gave me but maybe I didn't do something right when I was fumbling around trying to get Vagrant running. Using the script you gave me, what's the incantation to reinstall the SIL VM server?

[2016-04-03 19:22] Steven-Harris commented on #6
"cd" into where every you have your VagrantFile and you can use `vagrant destroy` to uninstall the box. The use `vagrant up` to reinstall. make sure you select/use virtualBox as your VM environment

[2016-04-03 19:28] thresherdj commented on #6
Thanks, I think that was it. I must have installed a default system by mistake. It's downloading  one from sil.org now. I'll let you know how it goes later.

[2016-04-03 19:37] Steven-Harris commented on #6
Yeah, you will want to goto http://downloads.sil.org/vagrant download the vagrantFile somewhere

[2016-04-04 00:57] thresherdj commented on #6
So, I'm trying to git rapuma with this:
git clone https://github.com/sillsdev/rapuma.git
That normally works but it only gets to about 8 or 9 % then stalls out. Have you had this happen to you? If so, what did you do to get around it?

[2016-04-04 00:59] Steven-Harris commented on #6
I have never had any problems like that, sorry

[2016-04-04 01:14] thresherdj commented on #6
Hmm, just tried to down load it as a zip and it failed like that too. If I can't find a way to get external data into the VM the whole exercise is rather pointless. :-(

[2016-04-04 01:27] thresherdj commented on #6
It looks like I could use a shared folder. The VM seems to have access to my home folder, but I can't remember how to get access to it from inside the VM, Do you know/remember?

[2016-04-04 01:29] Steven-Harris commented on #6
You should not have to do that. Sadly, I have never got this vagrant VM to work well with shared folders

[2016-04-04 01:42] thresherdj commented on #6
I don't get why I can clone. @megahirt do you have any ideas why I can't git clone inside the Vagrant VM?

[2016-04-04 09:58] thresherdj commented on #6
Just tried again, I get this:
Cloning into 'rapuma'...
remote: Counting objects: 14834, done.
remote: Compressing objects: 100% (16/16), done.
error: RPC failed; result=56, HTTP code = 200B | 702.00 KiB/s
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed

[2016-04-04 09:59] thresherdj commented on #6
I tried the same thing in a normal terminal and it worked fine.

[2016-04-04 15:39] Steven-Harris commented on #6
I would try installing the vm one more time. I think there is a firewall built-in (I would need to get on the vm to tell you what software pack it is) and you could check its config for 22,21 ports being open.

The only other thing that you could try is stilling the app with the anisble installer in our repo. But that might be more of the long way around and I know you have already spent a lot of

[2016-04-04 18:51] thresherdj commented on #6
Stand down everyone, it works now. I connected on a different network and it works now. Not sure why but I really don't want to know. :-)

[2016-04-07 01:42] thresherdj commented on #6
@Steven-Harris, I just pushed to the personal/dennis branch a modified version of the setup that should help you install Rapuma easier in your server environment. I've tested it a bit and it seems to work, let me know how it goes for you.

[2016-04-07 01:44] thresherdj commented on #6
BTW, check the installme document for new parameters used with setup.py.

[2016-04-07 01:45] Steven-Harris commented on #6
Awesome! Thank you so much. I will let you know how it goes.
On Wed, Apr 6, 2016 at 8:44 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-07 18:03] thresherdj commented on #6
@Steven-Harris , way above in this thread, you wrote:
"Yep. I am actually using the publishing folder at /var/lib/Rapuma/publishing and then overriding the renders to another location. It will probably stay like that usually I get told otherwise."

What is that location and is it consistent? I'm working on a slight enhancement that will make it easier to keep track of the Publishing folder. I shou

[2016-04-07 18:36] Steven-Harris commented on #6
When Rapuma is ran through the www-data user it makes the Rapuma publishing folder at /var/lib/rapuma/. Rapuma then works out of that location. I would say it to constant.

You may want to try using our app. If you go to ~/src/web-scripture forge/ and check out personal/Steven you can see what we have so far. Login with admin and password. And click create project -> typesetting. Enter a name. If

[2016-04-08 00:39] thresherdj commented on #6
@Steven-Harris , that sounds like a good idea, I'll give it a try.

[2016-04-08 01:20] Steven-Harris commented on #6
@thresherdj `sudo ./setup.py install --type server` I am having trouble with is. Is that command ready to be used?

In fact, `sudo ./setup.py install --type desktop` is not working either. I made sure that I was in your branch

[2016-04-08 01:22] Steven-Harris commented on #6
@thresherdj _facepalm_ sorry, I forgot to pull.....

[2016-04-08 01:25] thresherdj commented on #6
It should work, it works for me. I just pushed less than an hour ago. Might
want to pull again if you haven't already.
On Apr 7, 2016 8:20 PM, "Steven Harris" notifications@github.com wrote:

[2016-04-08 01:34] Steven-Harris commented on #6
@thresherdj, got it installed with your changes but I am still on a wild goose chase trying to find where rapuma is try to write files too. Any suggests on where rapuma needs files and folders?

[2016-04-08 02:11] thresherdj commented on #6
When you follow the install and get to sudo setup.py install --type server, the set up script will put a config and publishing folder at /var/lib/rapuma. There is nothing in them at that point. However, when you run rapuma for the first time, it looks for the /var/lib/rapuma/config folder. If it finds it, it knows it is a server installation and it creates a rapuma.conf. That conf file used to con

[2016-04-08 02:13] thresherdj commented on #6
FYI, the same basic process goes if it is a desktop installation, only the locations are ~/.config/rapuma for the config file and ~/Publishing for the projects folder.

[2016-04-08 02:16] Steven-Harris commented on #6
hmm ok I am seeing the config folder at /var/lib/rapuma but it must not be running correctly as there hasn't been a rapuma.config file made yet.

[2016-04-08 02:17] thresherdj commented on #6
Did you run just the "rapuma" command?

[2016-04-08 02:18] thresherdj commented on #6
I don't think I made that very clear. It used to be somewhat optional but now it kind of has to be done to make the rapuma.conf file and finish the installation.

[2016-04-08 02:19] Steven-Harris commented on #6
yes I ran `rapuma -h` and `sudo rapuma -h``

[2016-04-08 02:19] thresherdj commented on #6
BTW, In the VM I looked at ~/src/web-scripture forge/ and couldn't find your project. What am I missing?

[2016-04-08 02:20] thresherdj commented on #6
when you ran rapuma -h, did it give an error?

[2016-04-08 02:21] Steven-Harris commented on #6
Are you seeing the project at ~/src/web-scriptureforge?

[2016-04-08 02:22] thresherdj commented on #6
If it didn't, after the version it should say "(server)". If it doesn't and says, "(desktop)", then there must be a folder at ~/.config/rapuma. Destroy that folder if it is there.

[2016-04-08 02:24] thresherdj commented on #6
No, the folder is empty at ~/src/web-scriptureforge

[2016-04-08 02:24] Steven-Harris commented on #6
funny thing I installed using server but when I run rapuma with my own user it says, `Version v0.7.197 testing(20160406202905) - (desktop)`

[2016-04-08 02:26] Steven-Harris commented on #6
hmm that VagrantFile was for our project so I am not sure why didn't copy. our project is located here https://github.com/sil-student-projects/web-scriptureforge

run

`mkdir ~/src && git clone --recursive-submodules https://github.com/sil-student-projects/web-scriptureforge`

there is a developer install file to install it.  if you have the time

[2016-04-08 02:27] thresherdj commented on #6
The folder is residual from the last install. I should probably add some code that will seek and destroy the desktop config folder if it is a server installation and vice versa.

[2016-04-08 02:28] Steven-Harris commented on #6
oh ok, I will see if uninstalling and installing helps

[2016-04-08 02:28] thresherdj commented on #6
Thanks for the instructions. I'll try them tomorrow when I get a chance.

[2016-04-08 02:30] thresherdj commented on #6
Yes, uninstalling thoroughly is important. I'll try to clean that up so it isn't as necessary. I'll have to think about it a bit.

[2016-04-08 02:31] thresherdj commented on #6
For now, I better get going. I'm about to turn into a pumpkin. :-)

[2016-04-09 01:59] thresherdj opened #7 "Vagrant VM not complete on install"
I'm having a problem getting the publishing system VM to install. Everything goes okay until near the end when I get this error:
==> default: Running provisioner: shell...
    default: Running: inline script
==> default: stdin: is not a tty
==> default: Cloning into '/home/vagrant/src/web-languageforge'...
==> default: fatal: unable to access 'https://github.com/sil-student-projects/web-languagefo

[2016-04-09 12:48] thresherdj commented on #6
@Steven-Harris - I started a new issue for the Vagrant VM not installing right. Please take a look at that when you get a chance and let me know what I should do.

[2016-04-09 12:54] thresherdj opened #8 "Adding Rapuma to the Vagrant VM install"
How hard/wrong would it be to add Rapuma to the Vagrant install? Or are you already wanting to do that?

[2016-04-09 14:53] Steven-Harris commented on #7
@thresherdj Are you able to run `ssh clone https://github.com/sil-student-projects/web-scriptureforge.git/` from your host machine?

[2016-04-09 15:00] thresherdj commented on #7
@Steven-Harris - Yes, I can put that in the browser and hit that page.

[2016-04-09 15:02] Steven-Harris commented on #7
@thresherdj, not browser, but can you `ssh clone`` the project somewhere?

It appears that port 22 is blocked on your network or machine and you can not pull the source code over ssh.

[2016-04-09 15:11] thresherdj commented on #7
Yes, I think you are right. any tips on how to open port 22?

[2016-04-09 15:13] Steven-Harris commented on #7
No not really, it is all dependent on the firewall that you are using. Do you know what firewall you're using?

[2016-04-09 15:15] thresherdj commented on #7
Not at this point, things have pretty much worked. I'll look into it.

[2016-04-09 15:19] thresherdj commented on #7
I think the firewall is off. The error I get when I try to clone is:
Could not resolve hostname clone: Name or service not known
I can clone the Rapuma project, why can't I clone this one?

[2016-04-09 15:20] thresherdj commented on #7
Although, I've never cloned through ssh, I just use git clone

[2016-04-09 15:21] Steven-Harris commented on #7
_facepalm_ sorry i meant git clone not ssh clone

[2016-04-09 15:24] Steven-Harris commented on #7
with http git clone port 443 will have to be open.. which if url is loading in the browser from the host, then that port is open. Maybe, the vagrant file is doing `git clone git@github.com:sil-student-projects/web-scriptureforge.git` in that case it would use port 22..

Any chance you could just take down your firewall while you try to install?

[2016-04-09 15:54] thresherdj commented on #7
I don't think I was even running a firewall. I ran:
sudo ufw disable
then:
ssh clone https://github.com/sil-student-projects/web-scriptureforge.git/
and I got:
Cloning into 'web-scriptureforge'...
The authenticity of host 'github.com (192.30.252.128)' can't be established.
RSA key fingerprint is 16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48.
Are you sure you want to continue connecting (yes/no)?

[2016-04-09 15:58] Steven-Harris commented on #7
sorry I don't think you saw my message earlier.. I didn't mean to type ssh clone..

you can use `git clone https://github.com/sil-student-projects/web-scriptureforge.git`
or `git clone git@github.com:sil-student-projects/web-scriptureforge.git`

[2016-04-09 16:02] thresherdj commented on #7
ah, much better, the first address works good

[2016-04-09 16:03] thresherdj commented on #7
Now I'll try it in the VM

[2016-04-09 16:09] thresherdj commented on #7
No, doesn't work in the VM. When I run:
 git clone https://github.com/sil-student-projects/web-scriptureforge.git
I get:
Cloning into 'web-scriptureforge'...
fatal: unable to access 'https://github.com/sil-student-projects/web-scriptureforge.git/': Could not resolve host: github.com
With the second command:
git clone git@github.com:sil-student-projects/web-scriptureforge.git
I get:
Cloning into 'w

[2016-04-09 16:12] thresherdj commented on #7
BTW, after we figure this out, take a look at issue #8

[2016-04-09 16:23] Steven-Harris commented on #7
@cambell-prince, I run the vagrantFile for myself and it does appear to be broken. Here is the infor when I tried for the first time

[2016-04-09 17:52] Steven-Harris commented on #7
Dennis is did you try those clone commands on your host machine?
On Sat, Apr 9, 2016 at 11:12 AM Dennis Drescher notifications@github.com
wrote:

[2016-04-09 17:52] Steven-Harris commented on #7
Never mind I remember now that you did
On Sat, Apr 9, 2016 at 12:51 PM Steven Harris thedrummersteven@gmail.com
wrote:

[2016-04-15 01:03] thresherdj commented on #7
@Steven-Harris , @cambell-prince : Any word on this? I'm kind of stuck without being able to pull the web-scriptureforge project into the VM. It seems the VM, in general, has a hard time pulling data. I've been testing the new version of the Rapuma install and it seem to work predictably but without being able to try it along with scriptureforge, I'm never going to know if I have it right or not.

[2016-04-15 01:12] Steven-Harris commented on #7
I haven't heard from @cambell-prince. At this point you might go ahead and create VM manually and install Ubuntu or mint and install scriptureforge manually because I know what works.

[2016-04-15 01:17] thresherdj commented on #7
I already have one but I can't seem to pull in scriptureforge on that either. It starts and then stalls out. Rapuma seems to pull ok though. I'll keep trying and see if I can figure it out.

[2016-04-15 01:21] Steven-Harris commented on #7
hmm that would lead me to suspect that it has something to do with your
host.. Just for fu, try cloning from my forked repo of it
https://github.com/Steven-Harris/web-scriptureforge.git

On Thu, Apr 14, 2016 at 8:17 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-15 02:04] thresherdj commented on #7
I tried downloading the zip inside my VM and it stalls out as well. I'm wondering if it is my ISP that is the problem. I don't think they play nice with VMs. Though that doesn't seem to be a problem with my standard install. It down loads okay from my standard install.

[2016-04-16 02:32] thresherdj commented on #7
@Steven-Harris , @cambell-prince : Ok, I was right, it is my ISP. I am in a different location now with a completely different ISP and downloading works fine. The issue with the Vagrant VM is still the same.

[2016-04-16 02:33] Steven-Harris commented on #7
I would abandon the vagrant install and go to installing the app manually
for the repo
On Fri, Apr 15, 2016 at 9:32 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-16 02:37] thresherdj commented on #7
Yah, I figured that. Please remind me where the install instructions are.

[2016-04-16 02:39] Steven-Harris commented on #7
Just clone the repo on a mint or Ubuntu system/vm and the install
instructions are in the README
On Fri, Apr 15, 2016 at 9:37 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-16 02:41] thresherdj commented on #7
Ah, thanks. I'll work on it.

[2016-04-16 13:05] thresherdj commented on #7
@Steven-Harris : When I try to deploy (line 35) on my Mint system with:
ansible-playbook -i hosts playbook_mint.yml --limit localhost -K

I get this:
ERROR: cannot find role in /home/dennis/src/xForge/web-languageforge/deploy/roles/fix or /home/dennis/src/xForge/web-languageforge/deploy/fix or /etc/ansible/roles/fix

What went wrong?

[2016-04-16 14:30] Steven-Harris commented on #7
You need to clone using 'git clone --recurse-submodules. I would start from
the top of the README and follow it exactly
On Sat, Apr 16, 2016 at 8:05 AM Dennis Drescher notifications@github.com
wrote:

[2016-04-16 15:54] Steven-Harris commented on #6
@thresherdj is there a way to add/change a projects adjustments from the CLI without manually editing the config file.... I see an option in the CLI but I can't seem to build the correct string of commands to execute the command.

[2016-04-17 01:19] thresherdj commented on #7
That's what I thought I was doing and when I got to the command on line 35 I got that error. I'll try it again.

[2016-04-17 01:29] Steven-Harris commented on #7
you might have already done it but you could try `git pull --recurse-submodules` in the root of the repo

[2016-04-17 01:31] thresherdj commented on #7
On line 19, it says this:
"If you want to run an independant repo for scriptureforge, clone its repo also..."

Do I want that?

[2016-04-17 01:33] Steven-Harris commented on #7
Yeah give that a shot

[2016-04-17 01:47] thresherdj commented on #7
Stymied again! I run ran lines 34 and 35 and got:
ERROR: cannot find role in /home/dennis/src/xForge/web-languageforge/deploy/roles/fix or /home/dennis/src/xForge/web-languageforge/deploy/fix or /etc/ansible/roles/fix

[2016-04-17 01:47] thresherdj commented on #7
I also ran: git pull --recurse-submodules

[2016-04-17 01:57] Steven-Harris commented on #7
if you install teamview on the machine I could remote in and help you out just send me the cerd @ stevenharrisdev@gmail.com

[2016-04-17 02:15] thresherdj commented on #7
Teamview on a VM, that sound's interesting. I'll give it a try.

[2016-04-17 02:24] thresherdj commented on #7
ID: 124 397 523
PW: 3177

[2016-04-17 02:31] thresherdj commented on #7
The chat on teamviewer in the VM doesn't work for me. The keyboard input seems to go to the terminal, not the chat window.

[2016-04-17 02:32] thresherdj commented on #7
I can read your messages fine, just can't respond with teamviewer chat.

[2016-04-17 03:03] Steven-Harris commented on #7
it kicked me from the session

[2016-04-17 03:03] thresherdj commented on #7
Sorry, my fault. trying to get the silly window out of the way.

[2016-04-17 03:04] thresherdj commented on #7
Can you log back on?

[2016-04-17 03:21] Steven-Harris commented on #7
Well I am not sure why it is giving us the error... but for your testing you can try creating a project and then see if there is a rapuma project at /var/lib/rapuma/Publishing ... If you are able to do that then rapuma is working correctly with our project.

The code looks a bit different than mine so I will make sure that my changes are pushed. You might pull again tomorrow to get my new stuff

l

[2016-04-17 03:23] thresherdj commented on #7
Ok, sounds like a plan.

[2016-04-17 04:09] Steven-Harris commented on #7
it's ready to pull

[2016-04-17 14:07] megahirt commented on #7
@irahopkinson can you comment on Dennis's issue, specifically (from above):

When I try to deploy (line 35) on my Mint system with:
ansible-playbook -i hosts playbook_mint.yml --limit localhost -K

I get this:
ERROR: cannot find role in /home/dennis/src/xForge/web-languageforge/deploy/roles/fix or /home/dennis/src/xForge/web-languageforge/deploy/fix or /etc/ansible/roles/fix

What went wrong?

[2016-04-17 18:50] Steven-Harris commented on #7
@megahirt I should note that I was about to get Dennis up and running when i teamviewed into his vm

[2016-04-18 03:51] irahopkinson commented on #7
@thresherdj what's your ansible version `ansible --version`
Do you have the folder `/home/dennis/src/xForge/web-languageforge/deploy/roles_common/fix`?
Ah, I think your problem is your `ansible.cfg`. The `README_DEVELOPERS.md` should put you straight. In case your branch doesn't have the latest updates to this file, look here https://github.com/sillsdev/web-languageforge/blob/master/README_DEVELOP

[2016-04-18 18:30] thresherdj commented on #7
@irahopkinson : Hey there!
ansible version 1.5.4
yes, I have the fix folder
I'll try merging the two .cfg files
thanks!

[2016-04-18 18:38] thresherdj commented on #7
I'm going to try adding the default_ansible.cfg to the .ansible folder to see if the settings there overwrite the ones in etc. This may end poorly.

[2016-04-18 18:43] thresherdj commented on #7
Well, at least no small explosions or smoke was involved. ;-)

I'll try merging them but lunch is about over now so it will have to wait until later.

[2016-04-18 22:06] Steven-Harris commented on #7
@thresherdj, I found the solution to the bug we were getting on the web app.

[code]

[2016-04-19 09:02] irahopkinson commented on #7
@thresherdj Keep up the good work!
Ansible v1.5.4 is likely to have issues as it is too old. However, the latest v2 is broken for our purposes (last time I checked) so use v1.9.4. Check here https://github.com/sillsdev/web-languageforge/blob/master/README_DEVELOPERS.md#ansible-setup for how to update it. I.e.

[code]

Then do the merge into the `ansible.cfg` file.

[2016-04-20 22:48] Steven-Harris commented on #6
@thresherdj, have you been able to make any progress with Rapuma to figure out why it's not install correctly on our server environment

[2016-04-21 09:44] thresherdj commented on #6
@Steven-Harris There would be no way to add "adjustments" to a project. Everything has to be defined in the system. Anything that is defined, with few exceptions, can be changed via the setting command. E.g.: rapuma setting [PID] font --section [section/sub-section] --key [setting key] --value [setting value]

[2016-04-21 09:49] thresherdj commented on #6
@Steven-Harris Re. the install issue, no, I have not had time to look into that this week. Nothing is going to happen this weekend either, but hopefully next week I can get back on it.

[2016-04-22 00:32] Steven-Harris commented on #6
@thresherdj, I learned something today when I change the runtime user of my shell to www-data. It was trying to work out of /var/www and not /var/lib ...I believe that is were the app is also trying to create projects at but I haven't been able to create a rapuma project through the app yet. I was able to get rapuma working for the www-data in the shell.

[2016-04-22 01:29] Steven-Harris commented on #6
@thresherdj, does this problem look familiar?
![selection_002](https://cloud.githubusercontent.com/assets/7720242/14729034/9c2dbe36-0829-11e6-8853-81e64ca80ea2.png)

If so, can you tell what I can do to fix it?

[2016-04-22 10:28] thresherdj commented on #6
@Steven-Harris I've not see this, at least that I can recall. It would seem like a permission problem and Rapuma (XeTeX) is trying to write something where it can't.

Regarding working out of /var/lib vs. /var/www. Rapuma is seeing projects as needing to be in /var/lib but I could just as easily tell it to put them in /var/www. That would be easy. I don't know much about how permissions work in th

[2016-04-23 02:52] Steven-Harris commented on #6
Yes any program can write to any location provided it has permissions. I
grant www data rights to /var/www but I haven't gotten Rapuma to create a
project through the web app. The only way that works is manually though the
cli.
On Fri, Apr 22, 2016 at 5:28 AM Dennis Drescher notifications@github.com
wrote:

[2016-04-25 10:16] thresherdj commented on #6
I think I might have found what part of the problem is. I'm working on it. Hopefully it will not take too long to fix.

[2016-04-25 12:17] thresherdj commented on #6
I did a quick fix. Hopefully it is good to go, at least to test. Do a pull on personal/dennis to get it. Basically now, it should put server projects in /var/www/rapuma/projects if you set it up to run in a server environment. I found some overlooked code that I think was causing the problem you were having. Sorry about that. I hope I got it all now. Give it a try and let me know what you think.

[2016-04-25 13:05] megahirt commented on #6
As long as /var/www/rapuma/projects is a configurable path and not
hard-coded... the actual project directory will be something different (but
still somewhere inside /var/www)

Chris

On Mon, Apr 25, 2016 at 7:17 PM, Dennis Drescher notifications@github.com
wrote:

[2016-04-25 14:37] Steven-Harris commented on #6
Thanks @thresherdj for working on this, I will  give it a shot. We are presenting and finishing the project on May 2nd and I am trying to get a system that I can take to the presentation working before then. Currently, I am trying to get two systems working. One is the server and one is a VM.

The server appears to be writing to /var/www but I haven't got my web application to successfully write o

[2016-04-26 01:10] thresherdj commented on #6
@Steven-Harris did you update with what I pushed this morning? That line 49 in proj_setup.py shouldn't be there any more.

[2016-04-26 01:11] Steven-Harris commented on #6
I haven't update or tried the fix yet
On Mon, Apr 25, 2016 at 8:10 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-26 01:12] thresherdj commented on #6
@megahirt the /var/www/rapuma/projects is kind of hard coded but I think I know a way around it.

[2016-04-26 01:13] thresherdj commented on #6
@Steven-Harris well, there's your problem. :-)

[2016-04-26 01:15] Steven-Harris commented on #6
I pulled your change on the vm and got that error. I haven't tried your
code on the server.
On Mon, Apr 25, 2016 at 8:13 PM Dennis Drescher notifications@github.com
wrote:

[2016-04-26 01:33] Steven-Harris commented on #6
@thresherdj, I pulled you change on the server just now and I am still having troubles getting the rapuma to run from the apache environment.

However, at this point we have a working VM for our project the we can present and our project is coming to an end. So, it's ok if it does get figured out.. you might be hearing from someone else if someone else starts working on it

[2016-04-26 02:06] thresherdj commented on #6
Hope your presentation goes well. Sorry we couldn't get it to run like it should have. I wish I could have been more help but I just don't have experience with server side stuff like that. Hope someone else can pick it up from where you left off. Blessings to you!

[2016-04-28 10:17] thresherdj commented on #6
Ok, I'm going to close this out. In conclusion, there will continue to be a rapuma.conf file. On a desktop system it will be located at ~/.config/rapuma/rapuma.conf. On a server system it will be at /var/www/rapuma/config/rapuma.conf. The code should not reflect that. Further more, the default location of where the publishing projects folder is as follows. On desktop systems, ~/Publishing. On serv

[2016-04-28 10:17] #6 closed